@import '../../styles/variables';

.notFound {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .imageWrap {
    text-align: center;
    color: $mainColor;
    font-size: 26px;
  }
}

@media (max-width: 375px) {

}
